# Local development
NEXT_PUBLIC_API_URL=

# Prod development
NEXT_PUBLIC_API_URL=

# Brand Configuration
NEXT_PUBLIC_BRAND_NAME=
NEXT_PUBLIC_BRAND_PHONE=
NEXT_PUBLIC_BRAND_ADDRESS=
NEXT_PUBLIC_BRAND_EMAIL=


# External Service Keys
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RTM0m3NrKIg8Dt